doctype html
html(lang='#{current_lang}')

	include include/head

	body(class='#{current_lang}').index
		.page_wrapper

			header
				.container
					include include/warning_message
					p.header_top_text.bold #{header.header_top_text}
					.header_title_container.d-flex.flex-column.flex-md-row.justify-content-between.align-items-center
						h1 #{header.header_h1}
						p.header_after_title #{header.header_after_title.first_line}<br>#{header.header_after_title.second_line}
					.header_bottles_and_points_container.d-flex.flex-column-reverse.flex-md-row.align-items-center.align-items-md-start
						.d-flex.flex-row-reverse.flex-md-column
							.header_medals_container.d-inline-flex.flex-column.flex-md-row.align-items-center
								img.header_medal.img-fluid(src='img/medals/header_1_medal.png', alt='')
								img.header_medal.img-fluid(src='img/medals/header_2_medal.png', alt='')
								img.header_medal.img-fluid(src='img/medals/header_3_medal.png', alt='')
							.header_bottles_container.d-inline-block
								img.two_bottles(src='img/two_bottles.png', alt='')
								img.molekul(src='img/molekul.png', alt='')
								img.percent_50_medal(src='img/medals/50_percent_medal.png', alt='')
						ul.header_points.d-inline-block
							.header_point_relative_block
								.header_point_block
									li.header_point.d-flex.align-items-center
										img.check_mark(src='img/icons/check_mark.png', alt='')
										p #{header.header_points.header_point_1}
							.header_point_relative_block
								.header_point_block
									li.header_point.d-flex.align-items-center
										img.check_mark(src='img/icons/check_mark.png', alt='')
										p #{header.header_points.header_point_2}
							.header_point_relative_block
								.header_point_block
									li.header_point.d-flex.align-items-center
										img.check_mark(src='img/icons/check_mark.png', alt='')
										p #{header.header_points.header_point_3}
							.header_point_relative_block
								.header_point_block
									li.header_point.d-flex.align-items-center
										img.check_mark(src='img/icons/check_mark.png', alt='')
										p #{header.header_points.header_point_4}
					include include/section_arrow_and_button
					.tv_logos.d-flex.justify-content-between.align-items-center
						p #{header.tv}
						.tv_logos_container.d-flex-inline.flex-wrap.justify-content-between.align-items-center
							img(src='img/tv_labels/1.png', alt='')
							img(src='img/tv_labels/2.png', alt='')
							img(src='img/tv_labels/3.png', alt='')
							img.hidden-md-down(src='img/tv_labels/4.png', alt='')
							img(src='img/tv_labels/5.png', alt='')
							img(src='img/tv_labels/6.png', alt='')
							img(src='img/tv_labels/7.png', alt='')

			section.for_those
				.container
					.section_title_overlay
						h2.section_title #{sections.for_those.section_title}
					.row
						.col-lg-7.col-md-9
							p #{sections.for_those.first_p}
							img.man_with_barbell.hidden-md-up(src='img/man_with_barbell.png', alt='')
							include include/for_those_sharp_arrow
							p.bold #{sections.for_those.second_p}
							.three_bottles_and_text.d-flex.justify-content-center.align-items-center
								img.hidden-sm-down(src='img/three_bottles_and_molekul.png', alt='')
								p #{sections.for_those.third_p}
									span.green #{sections.for_those.highlighted_p}
						.col-lg-5.col-md-3
							img.man_with_barbell.hidden-sm-down(src='img/man_with_barbell.png', alt='')

			section.complex
				.container
					.section_title_overlay
						h2.section_title #{sections.complex.section_title}
							br
							span #{sections.complex.section_subtitle}
					.d-flex.flex-column.flex-md-row.justify-content-between.align-items-start
						.complex_column.left_complex_column
							p #{sections.complex.left_top_text}
							p #{sections.complex.left_bottom_text}
						.complex_column.center_complex_column.hidden-sm-down.d-flex.justify-content-center
							img(src='img/man_with_bottle.png', alt='')
						.complex_column.right_complex_column
							p #{sections.complex.right_top_before_br_text}<br>#{sections.complex.right_top_after_br_text}
							p.bold
								<span class="highlight">#{sections.complex.right_bottom_first_highlighted_text}</span><br>#{sections.complex.right_bottom_text}<br><span class="highlight">#{sections.complex.right_bottom_second_highlighted_text}</span>
					include include/section_arrow_and_button

			section.effects_and_benefits
				.container
					.section_title_overlay
						h2.section_title #{sections.effects_and_benefits.section_title}
					.d-flex.justify-content-center.align-items-center
						.effects_and_benefits_img_container
							img.hidden-md-down(src='img/one_bottle_and_molekul.png', alt='')
						ul.effects_and_benefits_points
							li.effects_and_benefits_point.d-flex.justify-content-start.align-items-center
								img.check_mark_circle(src='img/icons/check_mark_circle.png', alt='')
								.effects_and_benefits_point_text
									p.effects_and_benefits_point_title.bold #{sections.effects_and_benefits.points_list.point_1.bold_text}
									p.effects_and_benefits_point_desc #{sections.effects_and_benefits.points_list.point_1.regular_text}
							li.effects_and_benefits_point.d-flex.justify-content-start.align-items-center
								img.check_mark_circle(src='img/icons/check_mark_circle.png', alt='')
								.effects_and_benefits_point_text
									p.effects_and_benefits_point_title.bold #{sections.effects_and_benefits.points_list.point_2.bold_text}
									p.effects_and_benefits_point_desc #{sections.effects_and_benefits.points_list.point_2.regular_text}
							li.effects_and_benefits_point.d-flex.justify-content-start.align-items-center
								img.check_mark_circle(src='img/icons/check_mark_circle.png', alt='')
								.effects_and_benefits_point_text
									p.effects_and_benefits_point_title.bold #{sections.effects_and_benefits.points_list.point_3.bold_text}
									p.effects_and_benefits_point_desc #{sections.effects_and_benefits.points_list.point_3.regular_text}
							li.effects_and_benefits_point.d-flex.justify-content-start.align-items-center
								img.check_mark_circle(src='img/icons/check_mark_circle.png', alt='')
								.effects_and_benefits_point_text
									p.effects_and_benefits_point_title.bold #{sections.effects_and_benefits.points_list.point_4.bold_text}
									p.effects_and_benefits_point_desc #{sections.effects_and_benefits.points_list.point_4.regular_text}
							li.effects_and_benefits_point.d-flex.justify-content-start.align-items-center
								img.check_mark_circle(src='img/icons/check_mark_circle.png', alt='')
								.effects_and_benefits_point_text
									p.effects_and_benefits_point_title.bold #{sections.effects_and_benefits.points_list.point_5.bold_text}
									p.effects_and_benefits_point_desc #{sections.effects_and_benefits.points_list.point_5.regular_text}
							li.effects_and_benefits_point.d-flex.justify-content-start.align-items-center
								img.check_mark_circle(src='img/icons/check_mark_circle.png', alt='')
								.effects_and_benefits_point_text
									p.effects_and_benefits_point_title.bold #{sections.effects_and_benefits.points_list.point_6.bold_text}
									p.effects_and_benefits_point_desc #{sections.effects_and_benefits.points_list.point_6.regular_text}

			section.perfect_if
				.container
					.section_title_overlay
						h2.section_title #{sections.perfect_if.section_title}
					ul#perfect_if_bx_slider.perfect_if_cards_container
						li.perfect_if_big_card.d-flex.flex-column.justify-content-between.align-items-start
							img.perfect_if_card_icon(src='img/icons/section_perfect_if/section_perfect_if_icon1.png', alt='')
							p.bold #{sections.perfect_if.tiles.large_tile}
						li.perfect_if_small_card.d-flex.flex-column.justify-content-between.align-items-start
							img.perfect_if_card_icon(src='img/icons/section_perfect_if/section_perfect_if_icon2.png', alt='')
							p.bold #{sections.perfect_if.tiles.small_tile_1}
						li.perfect_if_small_card.d-flex.flex-column.justify-content-between.align-items-start
							img.perfect_if_card_icon(src='img/icons/section_perfect_if/section_perfect_if_icon3.png', alt='')
							p.bold #{sections.perfect_if.tiles.small_tile_2}
						li.perfect_if_small_card.d-flex.flex-column.justify-content-between.align-items-start
							img.perfect_if_card_icon(src='img/icons/section_perfect_if/section_perfect_if_icon4.png', alt='')
							p.bold #{sections.perfect_if.tiles.small_tile_3}
						li.perfect_if_small_card.d-flex.flex-column.justify-content-between.align-items-start
							img.perfect_if_card_icon(src='img/icons/section_perfect_if/section_perfect_if_icon5.png', alt='')
							p.bold #{sections.perfect_if.tiles.small_tile_4}
						li.perfect_if_small_card.d-flex.flex-column.justify-content-between.align-items-start
							img.perfect_if_card_icon(src='img/icons/section_perfect_if/section_perfect_if_icon6.png', alt='')
							p.bold #{sections.perfect_if.tiles.small_tile_5}
						li.perfect_if_small_card.d-flex.flex-column.justify-content-between.align-items-start
							img.perfect_if_card_icon(src='img/icons/section_perfect_if/section_perfect_if_icon7.png', alt='')
							p.bold #{sections.perfect_if.tiles.small_tile_6}
					include include/section_arrow_and_button

			section.way
				.container
					.section_title_overlay
						h2.section_title #{sections.way.section_title}
					div.d-flex.flex-column.flex-md-row.justify-content-center.align-items-center
						ul.way_list
							li.way_list_point.d-flex.justify-content-start.align-items-center
								img.way_list_point_icon(src='img/icons/section_way/way_list_point_icon_1.png', alt='')
								p.bold #{sections.way.list.point_1.text_before_green} <span class="green">#{sections.way.list.point_1.text_green}</span> #{sections.way.list.point_1.text_after_green} <br>#{sections.way.list.point_1.text_after_br}
							li.way_list_point.d-flex.justify-content-start.align-items-center
								img.way_list_point_icon(src='img/icons/section_way/way_list_point_icon_2.png', alt='')
								p.bold <span class="green">#{sections.way.list.point_2.text_green}</span> #{sections.way.list.point_2.text_after_green}
							li.way_list_point.d-flex.justify-content-start.align-items-center
								img.way_list_point_icon(src='img/icons/section_way/way_list_point_icon_3.png', alt='')
								p.bold <span class="green">#{sections.way.list.point_3.text_green}</span> #{sections.way.list.point_3.text_before_br}<br> #{sections.way.list.point_3.text_after_br}
							li.way_list_point.d-flex.justify-content-start.align-items-center
								img.way_list_point_icon(src='img/icons/section_way/way_list_point_icon_4.png', alt='')
								p.bold <span class="green">#{sections.way.list.point_4.text_green_first}</span> #{sections.way.list.point_4.text_before_br_first}<br> #{sections.way.list.point_4.text_after_br_first} <span class="green">#{sections.way.list.point_4.text_green_second}</span> #{sections.way.list.point_4.text_before_br_second}<br> #{sections.way.list.point_4.text_after_br_second}
						img.way_glass_and_molekul(src='img/glass_and_molekul.png', alt='')
					include include/way_sharp_arrow

			section.is
				.container
					.section_title_overlay
						h2.section_title #{sections.is.section_title}
					ul#is_points_bx_slider.is_points_container.d-flex.justify-content-around.align-items-center
						li.is_column_points_container
							.is_point.d-flex.flex-column.justify-content-center.align-items-center
								img.is_point_icon(src='img/icons/section_is/is_icon_1.png', alt='')
								h3.is_point_title.bold.green #{sections.is.list.point_1.bold_text}
								p.is_point_text #{sections.is.list.point_1.regular_text}
							.is_point.d-flex.flex-column.justify-content-center.align-items-center
								img.is_point_icon(src='img/icons/section_is/is_icon_2.png', alt='')
								h3.is_point_title.bold.green #{sections.is.list.point_2.bold_text}
								p.is_point_text #{sections.is.list.point_2.regular_text}
							.is_point.d-flex.flex-column.justify-content-center.align-items-center
								img.is_point_icon(src='img/icons/section_is/is_icon_3.png', alt='')
								h3.is_point_title.bold.green #{sections.is.list.point_3.bold_text}
								p.is_point_text #{sections.is.list.point_3.regular_text}
						li.is_column_points_container
							.is_point.d-flex.flex-column.justify-content-center.align-items-center
								img.is_point_icon(src='img/icons/section_is/is_icon_4.png', alt='')
								h3.is_point_title.bold.green #{sections.is.list.point_4.bold_text}
								p.is_point_text #{sections.is.list.point_4.regular_text}
							.is_point.d-flex.flex-column.justify-content-center.align-items-center
								img.is_point_icon(src='img/icons/section_is/is_icon_5.png', alt='')
								h3.is_point_title.bold.green #{sections.is.list.point_5.bold_text}
								p.is_point_text #{sections.is.list.point_5.regular_text}
							.is_point.d-flex.flex-column.justify-content-center.align-items-center
								img.is_point_icon(src='img/icons/section_is/is_icon_6.png', alt='')
								h3.is_point_title.bold.green #{sections.is.list.point_6.bold_text}
								p.is_point_text #{sections.is.list.point_6.regular_text}
						li.is_column_points_container
							.is_point.d-flex.flex-column.justify-content-center.align-items-center
								img.is_point_icon(src='img/icons/section_is/is_icon_7.png', alt='')
								h3.is_point_title.bold.green #{sections.is.list.point_7.bold_text}
								p.is_point_text #{sections.is.list.point_7.regular_text}
							.is_point.d-flex.flex-column.justify-content-center.align-items-center
								img.is_point_icon(src='img/icons/section_is/is_icon_8.png', alt='')
								h3.is_point_title.bold.green #{sections.is.list.point_8.bold_text}
								p.is_point_text #{sections.is.list.point_8.regular_text}
							.is_point.d-flex.flex-column.justify-content-center.align-items-center
								img.is_point_icon(src='img/icons/section_is/is_icon_9.png', alt='')
								h3.is_point_title.bold.green #{sections.is.list.point_9.bold_text}
								p.is_point_text #{sections.is.list.point_9.regular_text}

			section.doctor
				.container
					.section_title_overlay
						h2.section_title Fine Fit is the most useful <br>pre-training complex
					p.section_subtitle from all presented in the market
					.d-flex.flex-column-reverse.flex-md-row.justify-content-center.align-items-center.align-items-md-start
						img.doctor_doctor_img(src='img/doctor.png', alt='')
						.doctor_text_container
							p Scientists and physicians agree that the periodic stimulation of the body benefits. As in these moments the blood begins to circulate faster, as a result, the vessels are cleaned and "trained", dangerous deposits and cholesterol plaques are eliminated. Internal organs receive more nutrients and oxygen, as a consequence, they regenerate and recover faster. The body becomes more resistant to physical and emotional overload.
							p Unlike many "synthetic analogues" Fine Fit does not have any side effects and is not addictive. This complex passed the necessary certification and was recognized not only harmless, but also useful for health.
							p.bold.green Along with high efficiency, this made Fine Fit the most popular pre-training complex in the world.
					include include/section_arrow_and_button

			section.experts
				.container
					.section_title_overlay
						h2.section_title Experts Know Better!
					.d-flex.flex-column-reverse.flex-md-row.justify-content-center.align-items-center.align-items-md-start
						p.experts_text I recommend Fine Fit to anyone who wants to achieve significant results in training. Of course, it won’t make you strong and slim just like that, but it will give you energy, desire, strength and increase your endurance, so that you can do more for training and exhaust less. Recently, I recommend Fine Fit to many of my students, and those who take Fine Fit achieve more.
						.expert_photo_container
							.expert_photo
						.expert_desc
							p.expert_name.bold Koren M.
							p.expert_position professional fitness coach

			section.customers
				.container
					.section_title_overlay
						h2.section_title Our customers say:
					ul#customers_bx_slider.d-flex.flex-column.flex-md-row.justify-content-center.align-items-center.align-items-md-start
						li.customers_rewiev
							blockquote I knew about Fine Fit from one friend of mine, boasting that at a time when he was taking it, walked swayed like Arnie. I didn’t have such goals, but I have problems with stamina, I get tired and exhausted quickly, and therefore I do not do much in training. So I decided to try it. This complex really removes laziness, increases stamina, and adds strength. It got much easier to do more at trainings. As a result, I lost almost 15 kg per month! If you want results, try Fine Fit. I sure you, you’ll be impressed.
							p.customers_name.bold Martha, 31 y.o.
						li.customers_rewiev
							blockquote A great pre-training tool! Neither increased heart rate, sweaty palms, nor trembling limbs, nor anything else that other pre-training complexes bring. Opposite, a lot of positive effects. Mood improvement, less rest between approaches, I began trying to do the exercises until the muscles completely relinquished, became less tired, even after intensive training, I return home vigorously. Previously, this could be hardly imagine. This is the healthiest solution I've ever tried. Now it's the only one I use, and the results are already encouraging. I recommend it to all!
							p.customers_name.bold Paul, 27 y.o.

			section.on_top
				.container
					.section_title_overlay
						h2.section_title Fine Fit is on top because:
					.d-flex.flex-column.flex-md-row.justify-content-center.justify-content-md-start.align-items-center.align-items-md-start
						ul.header_points.d-inline-block
							.header_point_relative_block
								.header_point_block
									li.header_point.d-flex.align-items-center
										img.check_mark(src='img/icons/check_mark.png', alt='')
										p Completely natural and safe
							.header_point_relative_block
								.header_point_block
									li.header_point.d-flex.align-items-center
										img.check_mark(src='img/icons/check_mark.png', alt='')
										p Carefully balanced, repeatedly improved consist
							.header_point_relative_block
								.header_point_block
									li.header_point.d-flex.align-items-center
										img.check_mark(src='img/icons/check_mark.png', alt='')
										p Choice of professional athletes
							.header_point_relative_block
								.header_point_block
									li.header_point.d-flex.align-items-center
										img.check_mark(src='img/icons/check_mark.png', alt='')
										p Increase the effectiveness of trainings
						ul.header_points.d-inline-block
							.header_point_relative_block
								.header_point_block
									li.header_point.d-flex.align-items-center
										img.check_mark(src='img/icons/check_mark.png', alt='')
										p 100% bioavailability and complete digestion
							.header_point_relative_block
								.header_point_block
									li.header_point.d-flex.align-items-center
										img.check_mark(src='img/icons/check_mark.png', alt='')
										p Good for novice
							.header_point_relative_block
								.header_point_block
									li.header_point.d-flex.align-items-center
										img.check_mark(src='img/icons/check_mark.png', alt='')
										p Passed all basic clinical tests
							.header_point_relative_block
								.header_point_block
									li.header_point.d-flex.align-items-center
										img.check_mark(src='img/icons/check_mark.png', alt='')
										p Affordable price
					.on_top_bottle_and_text.d-flex.flex-column-reverse.flex-md-row.justify-content-center.justify-content-md-start.align-items-center
						.header_medals_container.d-inline-flex.flex-column.flex-md-row.align-items-center
							.header_bottles_and_medald_container.d-flex.flex-row-reverse.justify-content-center.align-items-center
								.header_medals_container.d-flex.flex-column.justify-content-center.align-items-center
									img.header_medal.img-fluid(src='img/medals/header_1_medal.png', alt='')
									img.header_medal.img-fluid.hidden-md-down(src='img/medals/header_2_medal.png', alt='')
									img.header_medal.img-fluid.hidden-md-down(src='img/medals/header_3_medal.png', alt='')
								.header_bottles_container.d-inline-block
									img.two_bottles(src='img/two_bottles.png', alt='')
									img.molekul(src='img/molekul.png', alt='')
						p.bold <span class="highlight">Reach new heights with Fine Fit!</span><br> In fitness, strength training or in regular work.<br> Periodically or whenever it needed.
					include include/last_section_arrow_and_button
					
			include include/footer
			include include/floating_labels

		// Concatinated and minified scripts
		script(src='js/bundle.libs.min.js')
		script(src='js/common.js')